.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 80%;
    padding-right: var(--bs-gutter-x,12px);
    padding-left: var(--bs-gutter-x,12px);
    margin-right: auto;
    margin-left: 20%;
}
.fc .fc-daygrid-day-events {
    margin-top: 1px;
    color: rgb(255, 255, 255);
}
.fc-list-event-time, .fc-list-event-title {
    color: black;
}
a.fc-event, a.fc-event::after{
background-color:#afb5bb ;
}
 a.fc-event:hover {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    background-color:#6c757d;
}

